<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->

    <!-- <link rel="stylesheet" href="../styles/style.scss" /> -->
  </head>

  <body>
    <div class="headline">
      Travel App
    </div>
    <section id="userInput">
      <div id="app">
        <div class="city">
          <label for="city">Enter Your Destination Here</label>
          <input type="text" id="city" placeholder="Enter City Here" />
        </div>
        <div class="departureDate">
          <label for="date">What's your departure date?</label>
          <input type="date" class="myInput" />
        </div>
        <div class="returnDate">
          <label for="date">What's your return date?</label>
          <input type="date" class="myInput" />
        </div>

        <button id="generate" type="submit">Submit</button>
      </div>
    </section>
    <div class="output">
      <div id="tripInfo"></div>
      <div id="content"></div>
      <img id="image" />
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
